# Jupyter Environment
jupyter==1.0.0
notebook==7.0.8

# Data Manipulation & Analysis
pandas==2.2.0
numpy==1.26.4
scipy==1.12.0

# Data Visualization
matplotlib==3.8.2
seaborn==0.13.2

# Machine Learning - Core
scikit-learn==1.4.0

# Machine Learning - Boosting & Ensembles
xgboost==2.0.3
catboost==1.2.2
lightgbm==4.3.0

# Hyperparameter Tuning
optuna==3.5.0

# Model Explainability
shap==0.44.1

# Handling Imbalanced Data (SMOTE, dkk)
imbalanced-learn==0.12.0